.footer {
    background: #2e2f42;
    padding: 100px 0px;
    
}

.footer .container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}


.footer-left {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
    width: 264px;
    max-width: 264px;
    margin-right: 120px;
}

.footer-social {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
    width: 208px;
}


.footer-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33333;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    
}

.footer-logo-text {
    color: #F4F4FD;
    
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    
}

.footer-social-items {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}

.footer-title {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 16px;
    
    
}