.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0px;
    background: #2e2f42;
    padding: 188px 0px;
}

.hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    max-width: 1158px;
    

   
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    text-align: center;
    color: #fff;
    max-width: 496px;
}

.hero-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    background: #4d5ae5;
    color: #fff;
    border-radius: 4px;
    padding: 16px 32px;
    white-space: nowrap;
    border: none;
    cursor: pointer;
}

.hero-button:hover, .hero-button:focus {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #404bbf;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #fff;
}