.team {
    background: #f4f4fd;
    padding: 120px 0px;


}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 24px;
    
    
}

.team-item {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0px;
    border-radius: 0 0 4px 4px;
    width: 264px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-item-image {
    display: block;
    margin-bottom: 32px;
}

.team-item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 32px 16px;
}

.team-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: #2e2f42;
    

}

.team-item-position {
    text-align: center;
    
}

.team-item-social-list {
    display: flex;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.team-item-social-link {    
    border-radius: 40px;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    display: flex;     
    align-items: center;
    justify-content: center;
    color: #f4f4fd;
    transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.team-item-social-link:hover, .team-item-social-link:focus {
    background-color: #404BBF;
}